.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mark{
  font-weight: 500!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradientLargeBorder {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #ef4444, #f59e0b) border-box;
  border-radius: 50%;
  border: 15px solid transparent;
}

.darkBackground {
  background-color: #1e2136;
}

.newOrangeDarkStyle {
  font-weight: 900;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef4444;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f59e0b;
  -webkit-background-clip: text;
  color: transparent;
}
.textGradientColorButton {
  background: -webkit-linear-gradient(320deg, #ef4444 20%, #f59e0b 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-icon-size {
  width: 80px;
  height: 90px;
}
